<!DOCTYPE html>
<html class="no-js">
<head>
    <title>{% block title %}{% trans %}Integrated{% endtrans %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    {% block style %}

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen" />

        {% stylesheets
        "@integrated_css"
        "@statbundle_css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    {% endblock style %}

</head>
<body>

<header>
    <div class="container">
        <nav class="navbar js-navbar-collapse" role="navigation">

            <ul class="nav pull-left">
                <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle left_menu_toggle glyphicon glyphicon-th" data-toggle="dropdown"></a>

                    <ul class="dropdown-menu dropdown-menu-large row">
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">{% trans %}Content{% endtrans %}</li>
                                <li><a href="{{ path('integrated_content_content_index') }}">{% trans %}Content navigator{% endtrans %}</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">{% trans %}Analytics{% endtrans %}</li>
                                <li><a href="{{ path('stage_stat_homepage') }}">{% trans %}Content Analytics{% endtrans %}</a></li>
                            </ul>
                        </li>

                        <li class="col-sm-3">
                            <ul>
                                <li><span style="width:300px;display:block;"><!--ulgy hack, @todo: fix this-->&nbsp;</span></li>
                            </ul>
                        </li>


                        <li class="col-sm-3">
                            <ul>
                                <li><span style="width:300px;display:block;"><!--ulgy hack, @todo: fix this-->&nbsp;</span></li>
                            </ul>
                        </li>

                    </ul>

                </li>
            </ul>

            <a href="{{ path('integrated_content_content_index') }}" class="navbar-brand logo hidden-xs">
                Integrated
            </a>

            <ul class="nav" id="top_menu_for_desktop">
                <li class="dropdown for_mobile">
                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#">{% trans %}Create new{% endtrans %} <b class="caret"></b></a>

                    <div class="search_field_holder">
                        <form action="{{ path('integrated_content_content_index') }}">
                            <input type="text" name="q" value="{{ app.request.query.get('q')|trim }}" class="form-control typehead_search" placeholder="{% trans %}Search here...{% endtrans %}" autocomplete="off" />
                            <button type="button" class="submit_btn"><i class="glyphicon glyphicon-search"></i></button>
                        </form>
                    </div>

                    <ul role="menu" class="dropdown-menu">
                        {{ render(controller('IntegratedContentBundle:ContentType:list', {'_format': 'ul'})) }}
                    </ul>
                </li>

                {% if app.user %}
                    <li class="dropdown dropdown_profile hidden-xs">
                        <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#">
                            <img src="http://placehold.it/45/ffffff&text=:)" class="userpic" />
                            <span class="glyphicon glyphicon-chevron-down arrow"></span>
                        </a>
                        <ul role="menu" class="dropdown-menu with_icons">
                            <li class="user_info">
                                <h3 class="user_name">{{ app.user.username }}</h3>
                            </li>
                            <li><a href="{{ path('integrated_user_profile_edit', {id: app.user.id}) }}" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-edit"></i>{% trans %}My profile{% endtrans %}</a></li>
                            <li class="divider" role="presentation"></li>
                            <li><a href="{{ path('integrated_user_logout') }}" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-lock"></i>{% trans %}Log out{% endtrans %}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>


<section class="content_section">
    <div class="container">

        {% block body %}
            <div class="col-sm-12 content_wrapper">
                {% block flash %}
                    {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
                {% endblock flash %}
                {% block content %}{% endblock content %}
            </div>
        {% endblock body %}

    </div>
</section>

{% block javascript %}

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ asset('/js/bootstrap.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.css" />

    {% javascripts
    "@integrated_js"
    "@statbundle_js"
    %}
    <script src="{{ asset_url }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    {% endjavascripts %}

{% endblock javascript %}

<div class="alert alert-danger clearfloat container" id="jscheck">
    It appears you do not have JavaScript enabled.<br/>
    Enable JavaScript in your browser settings and reload the page.
</div>

</body>
</html>