<div id="datepickcontainer">
    <div id="datepicker">
        <form class="form-inline" role="form">
            <div class="dateInput">
                <input type="text" id="inputStart" class="form-control" disabled="disabled" /> -
                <input type="text" id="inputStop" class="form-control" disabled="disabled" />
                <div id="dateRef"></div>
                <span class="btn form-control btn-primary glyphicon glyphicon-calendar dateClick" />
            </div>
        </form>
    </div>
</div>