{% extends 'StageStatBundle::base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('stage_stat_homepage') }}">Home</a>
        </li>
        <li class="active">Overige</li>
    </ol>
    <input id="selected" type="hidden" value="{{ slug }}" />

    <h2>Content Analytics & Statistics - {{ typename }}: Overige</h2>
    <hr>
    <div class="clearfloat">
        {% for stat in status %}
            <div class="alert alert-info">
                {{ stat.result }}
            </div>
        {% endfor %}
    {% if ctypes %}
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Content Type</th>
                        <th>Aantal</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody>
                {% for content in pager %}
                    <tr>
                        <td> <a href="{{ path('stage_stat_detail', {'ctype':content.type, 'contentType':content.title}) }}" />{{ content.title }}</a> </td>
                        <td>{{ content.count }}</td>
                        <td>{{ content.perc }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ knp_pagination_render(pager) }}
    {% endif %}
    </div>
{% endblock %}